{% extends "CSCoreBundle::layout.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include "CSCoreBundle:Menu:top.html.twig" %}
{% endblock %}

{% block container %}

	<h1>Dashboard</h1>
{% endblock %}
