{%  extends "CSCoreBundle::layout.html.twig" %}

{%  block header %}
	{%  include "CSCoreBundle:Menu:top.html.twig" %}
{%  endblock %}

{%  block container %}
	<div class="row-fluid">
		<aside class="span2 well sidebar">
			{% block sidebar %}
				{{ cs_menu('sidebar') }}
			{% endblock %}
		</aside>

		<div class="span10">
			{{  block('content') }}
		</div>
	</div>
{%  endblock %}
