{% extends "CSCoreBundle:Layout:sidebar.html.twig" %}

{% block title %}{{ 'Clients'|trans }}{% endblock %}

{% block content %}
    <h1>{{ "Clients"|trans }}</h1>

    {{ grid(grid) }}
{% endblock %}