<div class="control-group">
	<textarea rows="20" style="width:100%">{{ step.license }}</textarea>
</div>

<div class="row-fluid">
	<div class="control-group pull-left">
		<input type="checkbox" id="accept_license" name="accept" value="y" /> <label class="inline" for="accept_license">{{ "I agree to the license agreement"|trans }}</label>
	</div>
</div>
