<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

      		<a class="brand" href="#">{{ "CSBill"|trans }}</a>

			<div class="nav-collapse">
                {{ knp_menu_render('CSCoreBundle:Main:topMenu', {}, 'cs_top_menu') }}
			</div>
		</div>
	</div>
</nav>
